$primary-txt-color: #FFF;
$links-txt-color: #FFF;

$header-hgl-color: #FF4E33;

$primary-bg-color: #3B3F50;
$secondary-bg-color: #21232E;
$button-bg-color: #E3AC00;

$grad-one:#E3AC00;
$grad-two: #912B53;

$theme-font: 'Fresca';
$bg-image: '/img/m-h-night.jpg';