$primary-txt-color: #262B3A;
$links-txt-color: #FFF;

$header-hgl-color: #00A1CA;

$primary-bg-color: #1A1E2A;
$secondary-bg-color: #FFF;
$button-bg-color: #4A9A00;

$grad-one:#4A9A00;
$grad-two: #2B59DD;

$theme-font: 'Hind';
$bg-image: '/img/m-h-day.jpg';




