*{
    margin:0;
    padding:0;
}
html, body{
    width:100%;
    height: 100%;
    font-family: 'Merriweather', sans-serif;
    font-size: 16px;
}
ul, a{
    list-style: none;
    text-decoration: none;
}
button{
    padding: 15px 25px;
    color: #777777;
    font-weight: bold;
    border-radius: 28px;
    background: #FFF;
    transition: 0.3s;
    cursor: pointer;
    border: none; 
    outline: none;
}
.navbar .navbar__hamburger{
    visibility: hidden;
}
.navbar{
    display:Flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.navbar .navbar__list{
    margin-right: 240px;
}
.navbar .navbar__list-item{
    display:inline;
    margin: 0 23px;
    font-size:14px;
}
.navbar .navbar__list-item a{
    color:#777777;
    transition: 0.3s;
}
.navbar .navbar__list-item a:hover{
    color:#BFBA55;
}
.navbar .navbar__brand{
    margin-left: 230px;
    color: #2C2C2C;
    text-transform: uppercase;
    font-weight: bold;
}
.homepage{
    position: relative;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/home-bg.jpg) no-repeat center top;
    background-size: cover;
    height: 92vh;
}
.homepage .homepage__wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1150px;
    height: 100%;
    text-align:center;
}
.homepage .homepage__title{
    color: #FFF;
    font-size:60px;
}
.homepage .homepage__subtitle{
    margin-top: 35px;
    color: #BFBA55;
}
.homepage .homepage__btn-more{
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    font-family: 'PT Serif', serif;
}
.homepage .homepage__btn-more:hover{
    background: none;
    color:#FFF;
}
.section{
    padding: 115px 0;
}
.section__container{
    max-width: 950px;
    margin: 0 auto;
}
.article{
    margin-top: 150px;
}
.article:nth-child(1){
    margin-top:0;
}
.article .article__header-img{
    width:100%;
    max-width: 950px;
}
.article .article__body-info{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top:20px;
    color:#777777;
    font-family: 'PT Serif', serif;
}
.article .article__body-wrap-info{
    margin-bottom:8px;
}
.article .article__body-img{
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
.article .article__body-title{
    margin-top:45px;
}
.article .article__body .info__item-name{
    margin-left: 8px;
}
.article .article__body .info__item-date{
    margin-left: 20px;
}
.article .article__body .info__item-comment{
    margin-left: 15px;
}
.article .article__body .info__item-comment i{
    font-size: 13.5px;
}
.article .article__body-content{
    margin-top:25px;
}
.article .article__body-content-item{
    line-height: 25px;
}
.article .article__body-btn-more{
    margin-top:40px;
    font-weight: bold;
    border: solid 1px #CDCDCD;
}
.article .article__body-btn-more:hover{
    background: #CDCDCD;
    color: #FFF;
}
.article .article__body-content-item, .article .article__body-btn-more{
    color: #777777;
}
.footer{
    padding: 100px 0 87px 0;
    background: #000;
    color:#777777;
}
.footer__container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 950px;
}
.footer__copyright{
    width: 440px;
}
.footer__copyright-item{
    margin-top: 22px;
    line-height: 30px;
    font-family: 'PT Serif', serif;
}
.footer__contacts{
    width: 330px;
}
.footer__contacts-adress{
    display:inline-flex;
    flex-direction: column;

    margin-top:22px;
    font-family: 'PT Serif', serif;
    font-style: normal;
}
.footer__contacts-adress span, a{
    line-height: 30px;
}
.footer__contacts-email{
    color:#777777;
}
.footer__contacts-title, .footer__copyright-title{
    color:#FFF;
}

@media screen and (max-width: 1050px) { 
    .navbar{
        position:relative;
    }
    .navbar .navbar__hamburger{
        visibility: visible;
    }
    .navbar .navbar__list{
        position: absolute;
        user-select: none; 
        width: 100%;
        left: -1999px;
        top: 86px;
        transition: all 0.4s;
        z-index: 100;
    }
    .navbar .navbar__list-item{
        display: block;
        width: 100%;
        margin: -1px 0;
        padding: 20px;
        text-align:center;
        box-sizing: border-box;
        background: #FFF;
    }
    .navbar .navbar__list-item:hover{
        background: #777777;
    }
    .navbar .navbar__list-item:hover a{
        color: #FFF;
    }
    .navbar input[type=checkbox]{
        display: none;
    }
    .navbar input[type=checkbox]:checked ~ ul{
        left: 0;
    }
    .navbar label {
        position: relative;
        padding: 7px 10px;
        border: solid 1px #000;
        border-radius: 5px;
        margin-right: 40px;
        transition: all 0.3s;
    }
    .navbar label::after {
        content: '\2716';
        position: absolute;
        color: #BFBA55;
        font-size: 0px;
        top: 5px;
        right: 10px;
    }
    .navbar input[type=checkbox]:checked ~  label{
        color: #FFF;
        border-color: #BFBA55;
        transform: rotate(90deg);
    }
    .navbar input[type=checkbox]:checked ~  label::after{
        font-size: 17px;
    }
    .navbar .navbar__brand{
        margin-left: 30px;
    }
    .section, .footer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer__container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .footer__copyright{
        margin-top: 20px;
    }
}
